<div class="container-fluid">
  <h2>Home</h2>
  <p class="float-right">
    <%= pluralize(@doubts.size, 'Doubts') %>
  </p>
  <% @doubts.each do |doubt| %>
    <%= render partial: "doubts/content", locals: { "@doubt": doubt} %>
    <br>
  <% end %>
</div>
